<%= include('includes/top.tmpl') %>

    <div class="main">
		<%= include('modules/intro.inc') %>
        <%= include('modules/carousel__small.inc') %>
        <%= include('modules/carousel__large.inc') %>
    </div>

<%= include('includes/bottom.tmpl') %>