.rtl {

    .main--carousel {
        
        .carousel_small__item,
        .carousel_large__item {
            float: right;
        }

        .carousel_nav_container--large {
            .carousel_nav--next {
                right: auto;
                left: 0;
                background-image: url('../img/chevron_left.png');
            }
            .carousel_nav--prev {
                left: auto;
                right: 0;
                background-image: url('../img/chevron_right.png');
            }
        }
    }

}